In [198]:
# Import libraries and dependencies
import pandas as pd
from MCForecastTools import MCSimulation
from pathlib import Path

In [199]:
# Set the path for each CSV file
arkk_path = Path("C:/Users/teruy/Documents/GitHub/Project-1-Work/Resources/ARKK_new.csv")
gbtc_path = Path("C:/Users/teruy/Documents/GitHub/Project-1-Work/Resources/GBTC_new.csv")
sp500_path = Path("C:/Users/teruy/Documents/GitHub/Project-1-Work/Resources/SP500_new.csv")
nasdaq_path = Path("C:/Users/teruy/Documents/GitHub/Project-1-Work/Resources/NASDAQ_new.csv")


# Read in the data into Pandas DataFrames
arkkdata = pd.read_csv(arkk_path, parse_dates=True, infer_datetime_format=True)
gbtcdata = pd.read_csv(gbtc_path, parse_dates=True, infer_datetime_format=True)
sp500data = pd.read_csv(sp500_path, parse_dates=True, infer_datetime_format=True)
nasdaqdata = pd.read_csv(nasdaq_path, parse_dates=True, infer_datetime_format=True)

In [200]:
arkkdata = arkkdata[(arkkdata['Date'] > "2019-01-01") & (arkkdata['Date'] < "2022-07-01")]
gbtcdata = gbtcdata[(gbtcdata['Date'] > "2019-01-01") & (gbtcdata['Date'] < "2022-07-01")]
sp500data = sp500data[(sp500data['Date'] > "2019-01-01") & (sp500data['Date'] < "2022-07-01")]
nasdaqdata = nasdaqdata[(nasdaqdata['Date'] > "2019-01-01") & (nasdaqdata['Date'] < "2022-07-01")]

In [202]:
arkkdata.drop('Adj Close', inplace=True, axis=1)
arkkdata.drop('Volume', inplace=True, axis=1)
gbtcdata.drop('Adj Close', inplace=True, axis=1)
gbtcdata.drop('Volume', inplace=True, axis=1)
sp500data.drop('Adj Close', inplace=True, axis=1)
sp500data.drop('Volume', inplace=True, axis=1)
nasdaqdata.drop('Adj Close', inplace=True, axis=1)
nasdaqdata.drop('Volume', inplace=True, axis=1)

In [203]:
arkkdata = arkkdata.set_index("Date")
gbtcdata = gbtcdata.set_index("Date")
sp500data = sp500data.set_index("Date")
nasdaqdata = nasdaqdata.set_index("Date")

In [205]:
df_ticker = pd.concat([arkkdata, gbtcdata, sp500data, nasdaqdata], axis=1, keys=["ARKK","GBTC","SP500","Nasdaq"])

df_ticker.tail()

                 ARKK                                     GBTC                \
                 Open       High        Low      Close    Open   High    Low
Date
2022-06-24  44.770000  45.990002  43.959999  45.830002  13.885  14.23  13.40
2022-06-27  45.825001  46.270000  43.580002  44.799999  13.910  13.94  13.15
2022-06-28  44.730000  45.369999  42.040001  42.169998  13.600  13.85  13.18
2022-06-29  41.889999  42.240002  40.700001  41.509998  13.170  13.38  12.96
2022-06-30  40.750000  41.029999  39.110001  39.880001  12.590  12.60  11.95

                      SP500                                      Nasdaq  \
            Close      Open      High       Low     Close          Open
Date
2022-06-24  13.85  3,821.75  3,913.65  3,821.75  3,911.74  11351.309570
2022-06-27  13.51  3,920.76  3,927.72  3,889.66  3,900.11  11661.019531
2022-06-28  13.25  3,913.00  3,945.86  3,820.14  3,821.55  11542.240234
2022-06-29  13.32  3,825.09  3,836.50  3,799.02  3,818.83  11160.219727
2022-06-30  12.06  3,785.99  3,818.99  3,738.67  3,785.38  11048.250000


                    High           Low         Close
Date
2022-06-24  11613.230469  11337.780273  11607.620117
2022-06-27  11677.490234  11487.070313  11524.549805
2022-06-28  11635.849609  11177.679688  11181.540039
2022-06-29  11226.330078  11072.190430  11177.889648
2022-06-30  11160.919922  10850.009766  11028.740234